body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

.img {
      height: 155px;
      width: 125px;
      margin: 13px;
      border-radius: 20px;
      align-items: center;
      display: flex;
      justify-content: center;
      font-size: 30px;
      font-weight: 600;
      cursor: grabbing;
}

.tempImages {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 650px;
}

.fullgame {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      background-color: rgb(8%, 46%, 35%);
      background-size: cover;
      height: 100%;
      align-items: center;
      border: 10px solid rgb(37%, 15%, 8%);
      padding: 10px;
}

.opa {
      opacity: 0.3;
}

.result{
      display: flex;
}

.res {
      color: red;
      margin: 2px;
      border: 2px solid black;
      padding: 15px;
      background-color: #decfcf;
      font-size: 20px;
      border-radius: 20px;
      margin-right: 10px;
      width: 150px;
      font-weight: 500;
}

.start {
      cursor: pointer;
}

.move span,
.score span {
      margin-left: 14px;
}


.progress{
      height: 40px;
      width: 80%;
      border: 2px solid rgb(235, 160, 160);
      margin: 10px;
}

@media (max-width: 720px) {
      .fullgame {
         flex-direction: column;
         align-items: center;
      }
   
      .tempImages {
         width: 300px;
      }
   
      .img {
         height: 80px;
         width: 60px;
         margin: 10px;
      }
   
      .move,
      .score,
      .start {
         width: auto;
         margin: 5px;
      }

      .res{
            font-size: 16px;
            padding: 10px;
            width: 150px;
      }
   }
   
