/* npx tailwindcss -i ./src/Css/input.css -o ./src/Css/output.css --watch */

body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      text-align: justify;
      font-weight: 400;
      background-color: #F2F2F2 !important;
}

h2{
        font-size: 26px !important;
        line-height: 42px;
        letter-spacing: 1px;
        text-transform: uppercase;
        width: 100%;
        background: #00A3FF;
        display: flex;
        justify-content: center;
        font-weight: 700 !important;
}

h3{
        font-size: 20px !important;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 4px 0;
        font-weight: 700 !important;
        letter-spacing: 1px;
        color: #002F5E;
}

button {
      display: flex;
      justify-content: center;
      width: 100%;
      color: white !important;
      transition: 1s ease-in-out;
      background-color: #FF4040 !important;
}

button:hover {
      background-color: #FF007F !important;
      color: black !important;
}

.border {
      border: black;
      border-radius: 0.5rem;
}

.selectGameCard {
      background-color: #D4FFB2;
      padding: 10px;
      min-height: 384px;
}


@media (max-width: 1500px) {
      .selectGameCard {
            width: 250px !important;
      }
}

@media (max-width: 1320px) {
      .selectGameCard {
            width: 208px !important;
      }
}

@media (max-width: 1200px) {
      .selectGameCard {
            width: 190px !important;
      }
}

@media (max-width: 1024px) {
      .selectGameCard {
            width: 235px !important;
      }
}

@media (max-width: 800px) {
      .selectGameCard {
            width: 45% !important;
      }
      h2{
            font-size: 18px !important;
      }
}

@media (max-width: 520px) {
      .selectGameCard {
            width: 100% !important;
      }
}

/* trending */

.img{
      background-color: #a2F6F9 !important;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px red solid;
      border-radius: 15px;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 2px;
      text-align: center;
      color: olive;
}

.trendingGames {
}
