body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: monospace;
}

h1 {
      display: flex;
      justify-content: center;
      width: 100vw;
      font-size: 36px;
      letter-spacing: 2px;
      color: rgb(0, 0, 0);
      background-color: rgb(173, 202, 228);
      padding: 6px 0;
}

.img {
      height: 150px;
      width: 241px;
      margin: 2px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: grabbing;
}

.tempImages {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 980px;
}

.fullgame {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      min-height: 100vh;
      background-color: rgb(8%, 46%, 35%);
}

.opa {
      opacity: 0.6;
}

.result {
      margin: 25px 0 0 0;
      display: flex;
}

.res {
      display: flex;
      color: red;
      margin: 0 6px;
      border: 3px solid black;
      padding: 6px 40px;
      background-color: #decfcf;
      font-size: 20px;
      border-radius: 10px;
      font-weight: 600;
}

.start-end {
      display: flex;
      margin-right: 6px;
}

.start {
      cursor: pointer;
      margin-bottom: 25px;
      transition: 0.6s ease;
}

.start:hover {
      background-color: #eb6666;
      color: white;
}

.move span,
.score span {
      margin-left: 14px;
}

.progress {
      height: 40px;
      width: 80%;
      border: 2px solid rgb(235, 160, 160);
      margin: 10px;
}

@media (max-width: 1100px) {
      .img {
            width: 195px;
      }
}

@media (max-width: 820px) {
      .img {
            width: 160px;
      }
      h1 {
            margin-bottom: 70px;
            font-size: 24px;
      }
}

@media (max-width: 680px) {
      .img {
            width: 135px;
      }

      .res {
            font-size: 16px;
            padding: 6px 15px;
      }
}

@media (max-width: 580px) {
      .img {
            width: 115px;
      }
}

@media (max-width: 480px) {
      .img {
            width: 115px;
            height: 110px;
      }
}

@media (max-width: 400px) {
      .img {
            width: 80px;
      }

      .res {
            font-size: 14px;
      }
}

@media (max-width: 260px) {
      .img {
            width: 60px;
            height: 70px;
      }
}
