body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: sans-serif;
}

.game {
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: rgb(219, 222, 214);
      height: 100vh;
      font-size: 30px;
      color: rgb(245, 215, 215);
      font-weight: 700px;     
}

h1{
      color: black;
      font-size: 50px;
}

.gameborder {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background-color: #2c3e50;
      border-radius: 25px;
      padding: 5% 2%;
      min-width: 50%;
}

.textcontent{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 50px 0;
}

.inside-text{
      margin-bottom: 10px;
}

.button {
      color: red;
      padding: 15px 20px;
      font-size: 20px;
      border-radius: 12px;
      font-weight: 600;
      cursor: pointer;
      margin-right: 10px;
}

.choices{
      color:  #f39c12;
      margin-left: 10px;
}

.btn{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
}


@media  (max-width: 850px){

      .gameborder{
            padding: 6% 10%;
      }
      .game{
            font-size: 20px;
      }
}
@media  (max-width: 850px){
      .game{
            font-size: 18px;
            width: 100%;
      }
      .gameborder{
            padding: 6% 2%;
            width: 70%;
      }
      .userInput{
            margin-bottom: 10px;
      }
      .button{
            font-size: 17px;
            padding: 8px 10px;
            margin-right: 2px;
      }
      h1{
            font-size: 30px;
      }
}